.main-flexbox {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

  width: 100vw;
  height: 100vh;

  border: 2px solid black;
}

.header {
    flex: 0.75;
}

.personas {
    flex: 3;
}

.user-response {
    flex: 1.5;
}
